<div class="container-fluid">
  <%= render "form" %>
  <div class="container-fluid">
  <%= render "show_lampiran" %>
  <%= link_to '<button type="button">New Post</button>'.html_safe, new_post_path %>
  </div>
</div>