<div class="container-fluid">
 <%= form_for @project_potential, multipart: true do |f| %>
  <div class="">
      <table class="table table-bordered" id="sinergi">
        <thead>
            <tr colspan="3">
              <th class="text-center" style="width: 12px;" rowspan="3">No</th>
              <th rowspan="3">Nama Entitas</th>
              <th rowspan="3">Total Jumlah Proyek</th>
              <th rowspan="3">Jumlah Total Nilai</th>
              <th colspan="6">Rincian</th>
            </tr>
            <tr>
              <td>Jumlah Proyek</td>
              <td>Perkiraan Nilai Proyek</td>
                <td>Jumlah Proyek</td>
                <td>Perkiraan Nilai Proyek</td>
                <td>Jumlah Proyek</td>
                <td>Perkiraan Nilai Proyek</td>
            </tr>
            <tr>
                <td colspan="2">100%</td>
                <td colspan="2">75%</td>
                <td colspan="2">50%</td>
            </tr>
            <tr>
              <td colspan="10">SINERGI</td>
            </tr>
        </thead>  
        <tbody>
            <% @project_potentials.each_with_index do |project_potential, index| %>
                <tr>
                
                </tr>
            <% end %>
        </tbody>
        <thead>
            <tr>
              <td colspan="10">NON SINERGI</td>
            </tr>
        </thead>
        <tbody>
            <% @project_potentials.each_with_index do |project_potential, index| %>
                <tr>
                
                </tr>
            <% end %>
        </tbody>
      </table>

      
  </div>
 <% end %>
</div> 



<script>
//  $(document).ready(function () {
//     $("#form-catatan").hide();
//     $("#catatan").on('click', function(){
//         $("#form-catatan").toggle('slow');
//     })
// });

</script>