<div class="col-12 col-sm-12 col-lg-12"> 
  <div class="card">
    <%# <div class="card-header">
      <h4>Data Potensi Proyek</h4>
    </div> %>
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="data-proyek-tab" data-toggle="tab" href="#data-proyek" role="tab" aria-controls="data-proyek" aria-selected="true">Data Proyek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="detail-proyek-tab" data-toggle="tab" href="#detail-proyek" role="tab" aria-controls="detail-proyek" aria-selected="false">Detail Proyek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tambah-data-tab" data-toggle="tab" href="#tambah-data" role="tab" aria-controls="tambah-data" aria-selected="false">Tambah Data</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="data-proyek" role="tabpanel" aria-labelledby="data-proyek-tab">
         <%= render 'view' %>
        </div>
        <div class="tab-pane fade" id="detail-proyek" role="tabpanel" aria-labelledby="detail-proyek-tab">
          <%= render 'detail' %>
        </div>
        <div class="tab-pane fade" id="tambah-data" role="tabpanel" aria-labelledby="tambah-data-tab">
          <%= render 'form', project_potential: @project_potential %>
        </div>
      </div>
    </div>
  </div>
</div>