<div class="aktivitas-sales">
  <div class="card">
    <div class="card-body row">
      <div class="col-1">
        <select class="form-control" id="filter-year">
          <%# <option value="2020">2020</option>
          <option value="2021" selected>2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option> %>
        </select>
      </div>
      <div class="col-3">
        <select class="form-control" id="filter-place">
          <%# <option value="2020">All Gudang</option>
          <option value="klender">Klender</option>
          <option value="dagot">Dagot</option> %>
        </select>
      </div>
      <div class="col-1">
        <select class="form-control" id="filter-range">
          <%# <option value="bulan">Bulan</option>
          <option value="triwulan">Triwulan</option>
          <option value="semester">Semester</option> %>
        </select>
      </div>
      <div class="col-1">
        <select class="form-control" id="filter-month">
          <%# <option value="">0</option> %>
        </select>
      </div>
      <div class="col-sm-6 p-1">
        <button type="button" class="btn btn-primary" id="set-filter">Cari</button>
      </div>
    </div>
  </div>
  <%= render "dashboards/potensi-proyek" %>
  <%# aktivitas sales %>
  <div class="card">
    <div class="card-body row">
      <div class="col-1">
        <select class="form-control" id="filter-year">
          <%# <option value="2020">2020</option>
          <option value="2021" selected>2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option> %>
        </select>
      </div>
      <div class="col-2">
        <select class="form-control" id="filter-place">
          <%# <option value="2020">All Gudang</option>
          <option value="klender">Klender</option>
          <option value="dagot">Dagot</option> %>
        </select>
      </div>
      <div class="col-1">
        <select class="form-control" id="filter-range">
          <%# <option value="bulan">Bulan</option>
          <option value="triwulan">Triwulan</option>
          <option value="semester">Semester</option> %>
        </select>
      </div>
      <div class="col-1">
        <select class="form-control" id="filter-month">
          <%# <option value="">0</option> %>
        </select>
      </div>
      <div class="col-1">
        <select class="form-control" id="filter-month">
          <%# <option value="">0</option> %>
        </select>
      </div> 
      <div class="col-sm-6 p-1">
        <button type="button" class="btn btn-primary" id="set-filter">Cari</button>
      </div>
    </div>
  </div>
  <%= render "dashboards/aktivitas-sales" %>
</div>
