
        <section class="section">
 
          <div class="row ">
            <div class="col-12 col-sm-12 col-lg-6">
              <div class="card ">
                <div class="card-header text-center">
                  <h4 class="mx-auto w-100">Rencana Kunjungan Sales</h4>
                </div>
                <div class="card-body">
                  <div id="chart4" class="chartsh"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-6">
              <div class="card">
                <div class="card-header text-center">
                  <h4 class="mx-auto w-100">Realisasi Kunjungan Sales</h4>
                </div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-chart active" data-tab-group="summary-tab" id="summary-chart">
                      <div id="chart3" class="chartsh"></div>
                    </div>
                    <div data-tab-group="summary-tab" id="summary-text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-6">
              <div class="card">
                <div class="card-header text-center">
                  <h4 class="mx-auto w-100">Rencana Kunjungan Sales</h4>
                </div>
                <div class="card-body">
                  <div id="chart4" class="chartsh"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-6">
              <div class="card">
                <div class="card-header text-center">
                  <h4 class="mx-auto w-100">Realisasi Kunjungan Sales</h4>
                </div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-chart active" data-tab-group="summary-tab" id="summary-chart">
                      <div id="chart3" class="chartsh"></div>
                    </div>
                    <div data-tab-group="summary-tab" id="summary-text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="col-12 col-sm-12 col-lg-12">
              <div class="card">
                <div class="card-header text-center">
                  <h4 class="mx-auto w-100">Sales Performance</h4>
                </div>
                <div>
                  <div class="card-body col-lg-12">
                    <ul class="list-inline ">
                      <div class="row">
                        <li>
                          <div class="col-1">
                            <select class="form-control" id="filter-place">
                              <%# <option value="1010">All Gudang</option>
                              <option value="klender">Klender</option>
                              <option value="dagot">Dagot</option> %>
                            </select>
                          </div>
                        </li>
                        <li>
                          <div class="col-1">
                            <select class="form-control" id="filter-place">
                              <%# <option value="2020">All Gudang</option>
                              <option value="klender">Klender</option>
                              <option value="dagot">Dagot</option> %>
                            </select>
                          </div>
                        </li>
                      </div>
                    </ul>
                    <div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

