<div class="row" style="justify-content: center;" >
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <%= form_for @type_worker do |f| %>
          <% if @type_worker.errors.any? %>
            <div id="error_explanation">
          

              <ul>
          
              <% end %>
              </ul>
            </div>
          <% end %>

           
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <a href="<%= master_index_path(pilihan: "Data Jenis Pekerjaan") %>" class="btn btn-light px-3 pull-left">Cancel</a>
            <button type="submit" class="btn btn-primary px-3 pull-right">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>