      <footer class="main-footer">
        <div class="footer-right text-center">
          <a href="PT PGAS Solution 2022 | Aplikasi SMS"></a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>